{%extends "layout.html" %}

{% block title %}
  European procurement data
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
      <p>
      OpenTED releases updated data extracts from the European procurement database, <a href="http://ted.europa.eu/TED/main/HomePage.do">Tenders
        Electronic Daily (TED)</a>. The data on this site is machine-readable CSV, ready for 
        examination by journalists and others. Since the EU Publications Office does not make 
        such a form of the data available, the content has been generated through an automated
        scraper script, which downloads and analyses the TED web site.
      </p>
      <p>To find out more about this effort, visit <a href="http://opented.org/">OpenTED.org</a>.</p>
    </div>
    <div class="span6">
      <p>
        <strong>All data:</strong> {{data('opented-%(type)s.csv')}}
      </p>
      <p>
      <strong>Data by year:</strong>
      </p>
      <ul>
        {% for year in years %}
        <li>{{year}}: {{data('%(year)s/opented-%(type)s-%(year)s.csv', year=year)}}</li>
        {% endfor %}
      </ul>
      <p>
        <strong>Data by country:</strong>
        {% for country in countries %}
          <a href="/country/{{country}}.html">{{country}}</a> {% if not loop.last %}&middot;{% endif %}
        {% endfor %}
      </p>
      <p>
        <strong>Supplementary data:</strong>
      </p>
      <ul>
        <li><a href="https://raw.github.com/opented/opented/master/cpvcodes/cpvcodes.csv">Common Procurement Vocabulary (CPV) codesheet</a> (CSV)</li>
        <li><a href="/data/opented-latest.sql">Postgres data dump</a> (SQL)</li>
      </ul>
    </div>
  </div>
{% endblock %}


